@font-face {
    font-family: 'Aptos-light';
    src: url('fonts/Aptos-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary: #1892d3;
    --color-secondary: #efb428;
    --color-background: #e1e8f0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Aptos-light, system-ui, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: white;
    padding: 12px;
    border-radius: 30px;
    transition: 0.2s all ease;
    cursor: pointer;
    font-size: 1.25rem;
}

button:hover {
    transform: scale(1.05);
    background-color: var(--color-secondary);
    color: black;
}

ul {
    list-style: none;
}

hr {
    border: 0.15px solid lightgrey;
    outline: none;
    margin: 20px 0;
}

.container {
    display: grid;
    grid-template-columns: max-content 3fr;
    grid-template-rows: max-content 1fr;
}

/* Sidebar CSS */

.sidebar {
    background-color: var(--color-primary);
    color: white;
    grid-area: 1 / 1 / span 2 / 1;
    padding: 20px 0;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.menu-link:nth-child(7) {
    grid-row: 8 /9;
}

.menu-link:nth-child(8) {
    grid-row: 9 / 10;
}

.menu-link:nth-child(9) {
    grid-row: 10 / 11;
}

.menu-link {
    display: flex;
    flex-direction: row;
    gap: 0 24px;
    padding: 20px 40px;
    width: 100%;
    transition: 0.2s all ease;
    border: 4px solid transparent;
}

.menu-link:hover {
    background: var(--color-secondary);
    cursor: pointer;
    color: black;
    border-left: 4px solid black;
}

/*
.menu-link:hover * {
    transform: translateX(10px);
}
*/

.branding {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    padding: 10px 20px;
}

.branding h1 {
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
}

/* Header CSS */

.header {
    background-color: white;
    padding: 10px 60px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    align-items: center;
}

.nav {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    gap: 20px;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.search input {
    width: 80%;
    background-color: var(--color-background);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.search input:focus {
    outline: 1ps solid lightgrey;
}

.notification-btn {
    background-color: transparent;
    border: none;
}

.notification-btn:hover {
    transform: scale(1.1);
    border: none;
    background-color: transparent;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding: 10px;
}